@tailwind base;
@tailwind components;
@tailwind utilities;

.on {
  color: rgb(240, 240, 0);
}
.off {
  color: #ccc;
}

.hide {
  display: none;
}

.this:hover + .hide {
  margin-top: 1rem;
  display: block;
  position: absolute;
  font-weight: 100;
}
